.sideDrawer {
    position: fixed;
    width: 280px;
    max-width: 75%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 200;
    padding: 32px 9px;
    box-sizing: border-box;
    background-color: white;
    transition: all 300ms ease-out;
}

.open {
    transform: translateX(0);
}

.close {
    transform: translateX(-100%);
}

@media(min-width:500px) {
    .sideDrawer {
        display: none;
    }
}