.BuildControls {
    width: 100%;
    background-color: #CF8F2E;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}

.clearAllButton {
    padding: 5px;
    margin: 0 5px 0px 20px;
    border: 1px solid #AA6817;
    cursor: pointer;
    outline: none;
    background-color: #D39952;
    color: white;
    transition: all 250ms linear;
}

.clearAllButton:hover {
    background-color: #DAA972;
    color: white;
    transition: all 250ms linear;
}

.merger {
    display: flex;
    justify-content: center;
    align-items: center;
}

.merger p {
    margin-right: 21px;
}