.logo {
    background-color: white;
    padding: 5px;
    height: 80%;
    border-radius: 20%;
    position: relative;
    box-sizing: border-box;
}

.logo img {
    height: 70%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    transition: all 250ms ease-in-out;
}

.logo img:hover {
    height: 100%;
    transition: all 250ms ease-in-out;
}